<div class="sidebar-wrapper">
  <div class="logo text-center">
    <a href="javascript:void(0)" class="simple-text logo-normal">
      H-A-H
    </a>
  </div>
  <!-- <ul class="nav">
    <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
      <a [routerLink]="[menuItem.path]">
        <i class="nc-icon {{menuItem.icon}}"></i>
        <p>{{menuItem.title}}</p>
      </a>
    </li>
  </ul> -->
  <ul class="nav">
    <li routerLinkActive="active" *ngFor="let menuItem of menuItems; let i=index"
        class="{{menuItem.class}}">
        <ng-container *ngIf="!menuItem.isLogout && acceptView(menuItem.roles)">
            <a [routerLink]="[menuItem.path]">
                <i class="nc-icon {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </ng-container>
        <ng-container *ngIf="menuItem.isLogout">
            <a href="javascript:void(0)" (click)="logout()">
                <i class="nc-icon {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </ng-container>
    </li>
</ul>
</div>