<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Quản lý lịch sử bãi đỗ</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <th scope="col" class="text-center">#</th>
              <th scope="col" class="text-center">Vị trí đỗ</th>
              <th scope="col" class="text-center">Trạng thái</th>
              <th scope="col" class="text-center">Thời gian đỗ</th>
              <th scope="col" class="text-center">Thời gian đi</th>
              <th scope="col" class="text-center">Tổng thời gian</th>
              <th scope="col" class="text-center">Thành tiền (VNĐ)</th>
            </thead>
            <tbody>
              <ng-container *ngFor="let parking of parkings; let i=index">
                <tr>
                  <th scope="row" class="text-center">{{i+1}}</th>
                  <td class="text-center">{{parking.position}}</td>
                  <td class="text-center">
                    <span *ngIf="parking.status" class="text-danger">Đang đỗ</span>
                    <span *ngIf="!parking.status" class="text-success">Đã rời đi</span>
                  </td>
                  <td class="text-center">{{parking.createdAt | datetimeToTime}}&nbsp;&nbsp;{{parking.createdAt | datetimeToDate}}</td>
                  <td class="text-center">{{parking.timeOut | datetimeToTime}}&nbsp;&nbsp;{{parking.timeOut | datetimeToDate}}</td>
                  <td class="text-center">{{parking.totalTime | datetimeToTime}}</td>
                  <td class="text-center">{{parking.cost | number}}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
      <ngb-pagination class="d-flex justify-content-center" [collectionSize]="pageData.totalSize"
        [pageSize]="pageData.pageSize" [(page)]="pageData.currentPage" [rotate]="true" maxSize="5"
        aria-label="Default pagination" (pageChange)="pageChange($event)">
      </ngb-pagination>
    </div>
  </div>
</div>