<div class="modal-header">
    <h4 class="modal-title">Thông tin chi tiết</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div style="margin-bottom: 20px;">
        <span class="font-weight-bold">Ngày đỗ: &nbsp;&nbsp;&nbsp;</span>
        <span *ngIf="!!parking.createdAt">{{parking.createdAt | datetimeToDate}}</span>
        <span *ngIf="!parking.createdAt">----------</span>
    </div>
    <div style="margin-bottom: 20px;">
        <span class="font-weight-bold">Giờ đỗ: &nbsp;&nbsp;&nbsp;</span>
        <span *ngIf="!!parking.createdAt">{{parking.createdAt | datetimeToTime}}</span>
        <span *ngIf="!parking.createdAt">----------</span>
    </div>
    <div>
        <span class="font-weight-bold">Tổng thời gian: &nbsp;&nbsp;&nbsp;</span>
        <span *ngIf="!!parking.createdAt">{{totalTime | datetimeToTime}}</span>
        <span *ngIf="!parking.createdAt">----------</span>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Đóng</button>
</div>